@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Feed the ducks!</h2>
        <p>
         Log your duck feeding here! You can also set up your feeding to be automatic from now on.
        </p>
        <p>@Html.ActionLink("Feed The Ducks!","Feed","Home")
    </div>
    <div class="col-md-4">
        <h2>Manage feedings</h2>
        <p>See all the ducks that have been fed, and by whom!</p>
        <p><p>@Html.ActionLink("View Feedings!", "List", "Home")</p>
    </div>
    
</div>